/* For demo */
#userDetail{
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    //background: #364d79;
    overflow: hidden;
  }
  .portrait_arrow{
    height: 160px;
    line-height: 160px;
    vertical-align: middle;
    text-align: center;
  }

  .manageTop{
    margin-top: 20px;


  }

  .ant-carousel .slick-slide {
    .portrait{
      background: #F5F5F5;
      margin-left: 2px;
      margin-right: 2px;
      color:black;
      h3{
        color:black;
      }
    }
  }
  .portrait2{
    background: #7070ef;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
  }

  .portrait_show{
    height: 162px;
    overflow: hidden;
  }
  .card_pa{
    margin-top: 16px;
    .ant-card-body{
      padding: 0px;
      padding-top: 2px;
    }
  }

  .user_portrait_content{
    line-height: 1.5;
    div{
      margin-top: 16px;
    }
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .subTab{
    border:1px solid #F5F5F5;
    box-shadow: #F0F5F5FE 1px 2px 7px 1px ;//边框阴影
    margin: 2px;
    .ant-tabs-nav-scroll{
      background: #F5F5F5;
    }
  }
  .subTabs{
    .ant-tabs-tabpane{
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
    }
  }
  .yinying{
    border:1px solid #F5F5F5;
    box-shadow: #F0F5F5FE 1px 2px 7px 1px ;//边框阴影
    margin: 2px;
  }
  img{
    //width: 100%;
    height:332px;
    width:95%
  }
}
