/* For demo */
#userDetail{
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    //background: #364d79;
    overflow: hidden;
  }
  .portrait_arrow{
    height: 160px;
    line-height: 160px;
    vertical-align: middle;
    text-align: center;
  }

  .manageTop{
    margin-top: 16px;


  }
  .card_pa{
    margin-top: 16px;
    .ant-card-body{
      padding: 0px;
      padding-top: 2px;
    }
  }

  .user_portrait_content{
    line-height: 1.5;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

}
